<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>

    <main class="container mt-5">
        <%- include("../partials/flashalert") %>
        <%- body %>
    </main>
    <%- include("../partials/footer") %>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    
    <script src="/scripts/validateForms.js" ></script>
</body>
    
</html>
