<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error!</h4>
            <p>Error Message : <%= message %> </p>
            <p class="mb-0">Error Code : <%= status %> </p>
        </div>
    </div>
</div>

