<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>

<body>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Add Campground</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>

</body>

</html>