<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">Add Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Campground Name</label>
                <input class="form-control" type="text" name="campground[title]" id="name" placeholder="Campground title" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>              
            </div> 
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" placeholder="Location" required>
            </div>
            
            
  
            <!-- <input type="file" name="image" multiple> -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" placeholder="Image Url" required>
            </div>  -->
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="price" name="campground[price]" required>
                  </div>
    
    
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="image" multiple>
                </div>
            </div>
            

            <button type="submit" class="btn btn-primary ">Submit</button>
        </form>
    </div>
</div>
