<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Add a Review</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>/review" method="POST">
            <div class="mb-3">
                <label class="form-label" for="review">Add review</label>
                <textarea class="form-control" type="text" id="review" name="review.body">
            </div>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-control" type="number" id="rating" name="review.rating">
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Submit</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>

    </div>
</div>