<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <p> <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>
</body>

</html>