body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpaperaccess.com/full/181060.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

.btn-secondary {
    color: #333;
    text-shadow: none;
    background-color: white;
    border-color: white;
}

.btn-secondary:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
}

.display-4 {
    font-size: 3rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.footer {
    font-size: 0.9rem;
}


